# Mark Flutter platform scaffolding as "vendored" (exclude from language stats)
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored

# Exclude build artifacts and deployment folder from stats
build/** linguist-vendored
docs/** linguist-vendored

# Ensure Dart files remain detectable
*.dart linguist-detectable=true
